@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.button:disabled{
  color: #ffffff;
  background-color: #E5E5E5;
}

.search-hotels {
  margin: 0 auto;
  padding: 8px 50px;
  grid-row: 5;
  font-size: 20px;
  line-height: 36px;
}

.search-hotels:hover{
  background-color: #615048;
}

.search-hotels:focus{
  background-color: #615048;
}

.search-hotels:active{
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button{
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.subscribe-button:hover{
  background-color: #68A2CA;
}

.subscribe-button:focus{
  background-color: #68A2CA;
}

.subscribe-button:active{
  color: rgba(255, 255, 255, 0.3);
}

/* Pages */

.main-container{
  flex-grow: 1;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
  box-shadow: -10px 0 8px -5px #f2f2f2,
               10px 0 8px -5px #f2f2f2;
}

.main-header {
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: -10px 0 8px -5px #f2f2f2,
               10px 0 8px -5px #f2f2f2;
}

.navigation {
  display: flex;
  width: 1060px;
  height: 64px;
  margin: 0 auto;
}

.navigation-with-logo{
  display: flex;
}

.sedona-logo{
  display: block;
  position: relative;
  margin-right: 30px;
  z-index: 2;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 300px;
  margin-left: auto;
}

.user-navigation-link{
  min-width: 44px;
  min-height: 64px;
}

.user-navigation-item{
  margin-left: 20px;
}

.header-button{
  padding: 8px 34px;
}

.header-button:hover{
  background-color: #615048;
}

.header-button:focus{
  background-color: #615048;
}

.header-button:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.text-logo {
  display: block;
  margin: 0 auto;
}

.welcome-block {
  height: 485px;
  padding-top: 51px;
  background-image: url("../images/index-background-welcome.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sedona-description{
  display: grid;
  row-gap: 25px;
  text-align: center;
  padding: 69px 274px;
  margin-bottom: 21px;
}

.big-text{
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.small-text{
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-photo{
  display: block;
}

.advantages-item{
  text-align: center;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 230px;
  row-gap: 30px;
  width: 400px;
  height: 385px;
}

.advantages-icon{
  display: block;
  margin: 0 auto;
}

.advantages-line-blue{
  margin: 0 85px;
  grid-row: 2;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-line-grey{
  margin: 0 85px;
  grid-row: 2;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.blue-1{
  background-color: #82B3D3;
  color: #ffffff;
}

.blue-2{
  background-color: #E6F0F6;
}

.blue-3{
  background-color: #F0F6FA;
}

.advantages-title{
  margin: 0 auto;
  width: 175px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.blue-1-title{
  color: #ffffff;
}

.advantages-description{
  margin: 0;
  padding: 0;
  color: #333333;
}

.typical-block{
  display: grid;
  gap: 20px;
  text-align: center;
  padding: 64px 347px;
}

.search-hotel-block{
  display: grid;
  grid-template-rows: min-content 20px auto 54px min-content;
  text-align: center;
  padding: 96px 304px;
}

.small-text-grid{
  grid-row: 3;
}

.subscribe-block{
  display: block;
  padding: 96px 258px 104px 258px;
  text-align: center;
}

.subscribe-block-background{
  background-image: url("../images/index-background-subcribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscribe-block-text{
  margin: 0 auto;
  width: 475px;
  display: grid;
  grid-template-rows: min-content auto;
  gap: 20px;
  margin-bottom: 54px;
}

.subscribe-text{
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form{
  width: 684px;
  display: grid;
  grid-template-columns: auto 232px;
}

.field{
  background-color: #F2F2F2;
  color: #616161;
  border-radius: 0;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
}

.page-footer{
  padding-top: 40px;
  margin: 0 auto;
  width: 1200px;
  height: 80px;
  box-shadow: -10px 0 8px -5px #f2f2f2,
               10px 0 8px -5px #f2f2f2;
}

.page-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1060px;
  height: 50px;
  margin: 0 auto;
}

.footer-social-list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item{
  fill: #83B3D3;
  position: relative;
  display: block;
  text-decoration: none;
  width: 48px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.footer-social-item:hover{
  fill: #68A2CA;
}

.footer-social-item:focus{
  fill: #68A2CA;
}

.footer-social-item:active{
  fill: #D2E3EF;
}

.social-icon{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-telephone-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 50px;
}

.footer-telephone{
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  color: #000;
  text-decoration: none;
}

.footer-telephone:hover{
  color: #756157;
}

.footer-telephone:focus{
  color: #756157;
}

.footer-telephone:active{
  color: #D6D0CD;
}

.navigation-logo{
  fill: #000000;
  position: relative;
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 115px;
  height: 33px;
}

.navigation-logo:hover{
  fill: #756157;
}

.navigation-logo:focus{
  fill: #756157;
}

.navigation-logo:active{
  fill: #D6D0CD;
}

.htmlacademy-logo{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* Catalog */

.inner-page-container{
  width: 1200px;
  margin: 0 auto;
  /*box-shadow: 0 0 15px #d3d3d3;*/
  /*box-shadow: -5px 0 15px -3px #d3d3d3, 5px 0 15px -3px #d3d3d3;*/
  box-shadow: -10px 0 8px -5px #f2f2f2,
               10px 0 8px -5px #f2f2f2;
}

.inner-block-container{
  width: 1200px;
  height: 412px;
  margin: 0 auto;
  background-image: url("../images/catalog-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.inner-header{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1060px;
  color: #ffffff;
  padding-top: 35px;
}

.inner-header-container{
  display: block;
  width: auto;
  margin-bottom: 40px;
}

.inner-header-title{
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs{
  display: flex;
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item:not(:last-child){
  margin-right: 10px;
}

.catalog-filter{
  display: flex;
  justify-content: space-between;
}

.catalog-filter-living{
  display: flex;
}

.catalog-filter-group{
  display: block;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-group:not(:last-child){
  margin-right: 70px;
}

.catalog-filter-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-other{
  display: flex;
}

.inner-content-container{
  margin: 0 auto;
  width: 1060px;
  margin-bottom: 60px;
}

.catalog-settings{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.select-settings{
  display: flex;
}

.display-variants{
  text-decoration: none;
  display: grid;
  grid-template-columns: 48px 48px 48px;
  gap: 8px;
}

.display-variant{
  display: block;
  text-decoration: none;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
}

.display-variant:hover{
  outline: 2px solid #000000;
}

.display-variant:focus{
  outline: 2px solid #68A2CA;
}

/* Для браузеров, которые поддерживают :focus-visible отключаем поведение :focus*/
display-variant:focus:not(:focus-visible) {
  outline: none;
}

/* Прописываем поведение для :focus-visible */
display-variant:focus-visible {
  outline: 2px solid #68A2CA;
}

.display-variant:active{
  outline: 2px solid #000000;
}

.display-variant-table{
  background-image: url("../images/view-table.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.display-variant-slideshow{
  background-image: url("../images/view-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.display-variant-list{
  background-image: url("../images/view-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-filter-title{
  padding: 0;
  margin: 0 0 32px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item{
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:not(:last-child){
  margin-bottom: 16px;
}

.catalog-filter-cost{
  margin-right: 70px;
}

.catalog-filter-buttons{
  margin-top: 56px;
  border: none;
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 32px;
}

/* Карточки с товарами и пагинация */

.catalog-hotels-list{
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  gap: 20px;
  list-style-type: none;
}

.apply-button{
  background-color: #82B3D3;
  border: none;
  padding: 8px 50px;
}

.apply-button:hover{
  background-color: #68A2CA;
}

.apply-button:focus{
  background-color: #68A2CA;
}

.apply-button:active{
  color: rgba(255, 255, 255, 0.3);
}

.cancel-button{
  border: none;
  background-color: transparent;
  padding: 8px 50px;
}

.cancel-button:hover{
  opacity: 60%;
}

.cancel-button:focus{
  border: 3px solid #83B3D3;
}

.cancel-button:active{
  color: rgba(255, 255, 255, 0.3);
}

.cancel-button:disabled{
  opacity: 10%;
}

.hotels-count{
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control{
  width: 292px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-right: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.display-variant{
  text-decoration: none;
}

.hotel-card-link{
  text-decoration: none;
}

.hotel-card{
  background-color: #ffffff;
  padding: 20px;
  display: grid;
  grid-template-rows: 212px min-content auto min-content min-content;
  grid-template-columns: 140px 140px;
  gap: 16px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-image-link{
  grid-column: 1 / -1;
  grid-row: 1;
  text-decoration: none;
}

.hotel-card-title-link{
  grid-column: 1 / -1;
  grid-row: 2;
  text-decoration: none;
}

.hotel-card-type{
  color: #333333;
  grid-column: 1;
  grid-row: 3;
  margin: 0;
  padding: 0;
}

.hotel-card-price{
  color: #333333;
  text-align: right;
  grid-column: 2;
  grid-row: 3;
  margin: 0;
  padding: 0;
}

.hotel-card-button-detail{
  grid-column: 1;
  grid-row: 4;
}

.hotel-card-button-detail:hover{
  background-color: #615048;
}

.hotel-card-button-detail:focus{
  background-color: #615048;
}

.hotel-card-button-detail:active{
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-stars{
  grid-column: 1;
  grid-row: 5;
  display: flex;
  align-items: center;
}

.hotel-card-star{
  width: 18px;
  height: 17px;
  display: block;
}

.hotel-card-star:not(:last-child){
  margin-right: 6px;
}

.hotel-card-title{
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.hotel-card-info{
  color: #333333;
}

.hotel-card-rating-number{
  grid-column: 2;
  grid-row: 5;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.add-to-favorites{
  background-color: #82B3D3;
  grid-column: 2;
  grid-row: 4;
}

.add-to-favorites:hover{
  background-color: #68A2CA;
}

.add-to-favorites:focus{
  background-color: #68A2CA;
}

.add-to-favorites:active{
  color: rgba(255, 255, 255, 0.3);
}

.in-favorites{
  background-color: #7DB54F;
}

.in-favorites:hover{
  background-color: #6C9E42;
}

.in-favorites:focus{
  background-color: #6C9E42;
}

.in-favorites:active{
  color: rgba(255, 255, 255, 0.3);
}

.catalog-decorate-line{
  margin: 0 auto;
  width: auto;
  height: 1px;
  background-color: #E6E6E6;
  content: "";
  margin-bottom: 40px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:hover{
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
}

.pagination-link:focus{
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
}

.pagination-link:active{
  color: #A7CAE0;
  background-color: #82B3D3;
}

.pagination-current{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  background-color: #F2F2F2;
  color: #000000;
}

.ellopsis{
  background-color: transparent;
  color: #000000;
}
