@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Buttons */

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.search-hotels {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button{
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border: none;
}

/* Pages */

.main-container{
  flex-grow: 1;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.text-logo {
  display: block;
  margin: 0 auto;
}

.welcome-block {
  height: 485px;
  padding-top: 51px;
  background-image: url("../images/index-background-welcome.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.typical-block{
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.big-text{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.small-text{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-photo{
  display: block;
}

.advantages-item{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 385px;
}

.blue-1{
  background-color: #82B3D3;
  color: #ffffff;
}

.blue-2{
  background-color: #E6F0F6;
}

.blue-3{
  background-color: #F0F6FA;
}

.advantages-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.blue-1-title{
  color: #ffffff;
}

.advantages-description{
  color: #333333;
}

.search-hotel-block{
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.subscribe-block{
  padding-top: 96px;
  height: 415px;
  text-align: center;
  color: #ffffff;
  background-image: url("../images/index-background-subcribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-text{
  font-size: 22px;
  line-height: 26px;
}

.page-footer{
  padding-top: 40px;
  margin: 0 auto;
  width: 1200px;
  height: 80px;
}

.page-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1060px;
  height: 50px;
  margin: 0 auto;
}

.footer-social-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 40px;
  padding: 0;
}

.social-logo{
  display: block;
}

.footer-telephone-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 50px;
}

.footer-telephone{
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
}

.navigation-logo{
  width: 115px;
  height: 33px;
}

.htmlacademy-logo{
  display: block;
}

/* Catalog */

.inner-header{
  display: flex;
  width: 1200px;
  height: 412px;
  background-image: url("../images/catalog-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  margin-bottom: 50px;
}

.inner-header-container{
  width: auto;
}

.inner-header-title{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs{
  font-size: 16px;
  line-height: 21px;
}

.catalog-settings{
  display: flex;
  margin-bottom: 40px;
}

.catalog-filter-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item{
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-buttons{
  border: none;
}

.catalog-hotels-list{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 896px;
  padding: 0;
  margin-bottom: 40px;
}

.apply-button{
  background-color: #82B3D3;
  border: none;
}

.cancel-button{
  border: none;
  background-color: transparent;
}

.hotels-count{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control{
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.display-variant{
  text-decoration: none;
}

.hotel-card-link{
  text-decoration: none;
}

.hotel-card{
  width: 340px;
  height: 438px;
}

.hotel-card-title{
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-info{
  color: #333333;
}

.hotel-card-rating-number{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

.add-to-favorites{
  background-color: #82B3D3;
}

.in-favorites{
  background-color: #7DB54F;
}

.pagination {
  display: flex;
  padding: 0;
}

.pagination-item{
  font-size: 20px;
  line-height: 36px;
  margin-right: 8px;
}

.pagination-link{
  text-decoration: none;
  background-color: #82B3D3;
  color: #ffffff;
}

.pagination-current{
  background-color: #F2F2F2;
  color: #000000;
}

.ellopsis{
  background-color: transparent;
  color: #000000;
}
